# **Definition:** To perform student perfomance prediction using machine learning for given datasets

# **Libraries:**
#-->numpy
#-->pandas
#-->sklearn
#-->matplotlib

# =>Linear regression model is used to train the data
# =>R2_Score metrics is used for model evaluation
# =>This is a basic perfomance prediction using machnie learning

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
data=pd.read_csv("/content/StudentMarksDataset.csv")
data

,Std_RollNo,Std_Name,Std_Branch,Std_Course,Std_StudyHours,Std_Marks
0,240415,Tanya Gautam,MC,B.Sc 1st year,6.83,78.50
1,240416,Udit Sagan,MC,B.Sc 1st year,6.56,76.74
2,240417,Kratika Sharma,PM,B.Sc 1st year,NaN,78.68
3,240418,Rakesh Kumar,PM,B.Sc 1st year,5.67,71.82
4,240419,Ritika Katara,PM,B.Sc 1st year,8.67,84.19
...,...,...,...,...,...,...
195,240609,PAYAL,CS,B.Tech 4th year,7.53,81.67
196,240610,SACHIN,CS,B.Tech 4th year,8.56,84.68
197,240611,DOLLY AGRAWAL,ZOOLOGY,B.Tech 4th year,8.94,86.75
198,240612,ROHIT YADAV,ZOOLOGY,B.Tech 4th year,6.60,78.05
199,240613,MAHESH SHARMA,BOTANY,B.Tech 4th year,8.35,83.50

In [ ]:
data.isnull().sum()

Std_RollNo        0
Std_Name          0
Std_Branch        3
Std_Course        0
Std_StudyHours    5
Std_Marks         0
dtype: int64

In [ ]:
data[['Std_RollNo','Std_StudyHours','Std_Marks']]

     Std_RollNo  Std_StudyHours  Std_Marks
0        240415            6.83      78.50
1        240416            6.56      76.74
2        240417             NaN      78.68
3        240418            5.67      71.82
4        240419            8.67      84.19
..          ...             ...        ...
195      240609            7.53      81.67
196      240610            8.56      84.68
197      240611            8.94      86.75
198      240612            6.60      78.05
199      240613            8.35      83.50

[200 rows x 3 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()
data['Std_StudyHours']=le.fit_transform(data['Std_StudyHours'])
data

,Std_RollNo,Std_Name,Std_Branch,Std_Course,Std_StudyHours,Std_Marks
0,240415,Tanya Gautam,MC,B.Sc 1st year,63,78.50
1,240416,Udit Sagan,MC,B.Sc 1st year,55,76.74
2,240417,Kratika Sharma,PM,B.Sc 1st year,144,78.68
3,240418,Rakesh Kumar,PM,B.Sc 1st year,30,71.82
4,240419,Ritika Katara,PM,B.Sc 1st year,127,84.19
...,...,...,...,...,...,...
195,240609,PAYAL,CS,B.Tech 4th year,83,81.67
196,240610,SACHIN,CS,B.Tech 4th year,123,84.68
197,240611,DOLLY AGRAWAL,ZOOLOGY,B.Tech 4th year,140,86.75
198,240612,ROHIT YADAV,ZOOLOGY,B.Tech 4th year,57,78.05
199,240613,MAHESH SHARMA,BOTANY,B.Tech 4th year,118,83.50

In [ ]:
x = data[['Std_StudyHours']]
y = data['Std_Marks']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
Std=StandardScaler()
x_train=Std.fit_transform(x_train)
x_test=Std.fit_transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)

R2 Score: 0.8514786179535694

# **Steps what we done above for the predcition task**
#1)Reads student data
#2)Checks and prepares the data
#3)Selects input and output
#4)Splits data into training & testing
#5)Scales the input data
#6)Trains Linear Regression model
#7)Predicts student marks
#8)Calculates R² score (model accuracy)


## **Conclusion: The model is trainig with accuracy of 85**